@font-face {
  font-family: titolo;
  src: url(syntmono.otf);
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.titolo {
  color: black;
  font-family: titolo;
  font-size: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
